@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
html {
  font-size: 14px;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.4;
  @apply text-slate-900;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Material Symbols optimization */
.material-symbols-outlined {
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

